{% extends 'HedgeCommEmailBundle:Default:base.html.twig' %}

{% block title %}
Create Campaign
{% endblock %}

{% block body %}

<a href="{{ path('client_detail', {'clientid': client.id}) }}">Back to client</a>


{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
